<%- include("partials/header.ejs") %>
    <%if (locals.post){ %>
        <div class="post-container">
            <div class="post-box">
                <h1>
                    <%=post.title %>
                </h1>
                <h1>....</h1>
                <p>
                    <%= post.content %>
                </p>
            </div>
        </div>
        <div class="post-button">
            <button><a href="/edit/<%= post.id %>">EDIT</a></button>
            <button><a href="/delete/<%= post.id %>">DELETE</a></button>
        </div>
        <% } %>

            <%- include('partials/footer.ejs') %>